<tr id="conversion-{{ conversion.id }}">
	<td>{{ forloop.counter }}</td>
	<td>{{ conversion.from_price }} {{ conversion.from_currency.symbol }}/{{ conversion.from_unit.symbol }}</td>
	<td>{{ conversion.to_price }} {{ conversion.to_currency.symbol }}/{{ conversion.to_unit.symbol }}</td>
	<td>
		<a style="cursor: pointer;" hx-delete="{% url 'delete_conversion' conversion.id %}"
			hx-target="#conversion-{{ conversion.id }}" hx-swap="outerHTML" aria-label="Delete conversion">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="lucide lucide-trash">
				<path d="M3 6h18" />
				<path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
				<path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
			</svg>
		</a>
	</td>

	<script>
		document.addEventListener("htmx:configRequest", function (event) {
			var csrfToken = document.querySelector(
				"[name=csrfmiddlewaretoken]"
			).value;
			event.detail.headers["X-CSRFToken"] = csrfToken; // Ajoute le token CSRF dans les en-têtes
		});
	</script>
</tr>